<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../css/style1.css" rel="stylesheet">
    <style>
        form {
            width: 270px;
        }

        input {
            width: 70%;
            background: #eee;
        }

        input:focus {
            background: #fff;
        }

        form {
            padding: 0 12px 12px;
        }

        label {
            display: block;
            padding-bottom: 12px;
        }

        .label-text {
            width: 30%;
            float: left;
        }
    </style>
</head>
<body>
<div id="app">
    <div id="wrap">
        <div id="header">
            <div style="float: right;padding-top: 24px">2009/11/20</div>
            <h1>管理系统</h1>
        </div>
        <div id="header-bar"></div>
        <div id="content" style="height: 360px">
            <h2>修改部门</h2>
            <form action="grouplist.html" method="post">
                <label>
                    <div class="label-text">部&emsp;门：</div>
                    <input type="text" v-model="group.name">
                </label>
                <label>
                    <div class="label-text">标&emsp;签：</div>
                    <input type="text" v-model="group.tags">
                </label>
                <button @click="updateGroup" type="button">提 交</button>&emsp;
                <a href="grouplist.html">返回</a>
            </form>
        </div>
        <div id="footer">
            ABC@126.com
        </div>
    </div>
</div>
</body>
</html>
<script src="../js/vue.js"></script>
<script src="../js/axios.min.js"></script>
<script>

    const app = new Vue({
        el: "#app",
        data: {
            id:"",
            group:{}
        },
        methods:{
            findOneGroup(id){
                _this = this;
                axios.get("http://localhost:8989/ems_vue/group/findOne?id="+id).then((res)=>{
                    console.log(res.data);
                    _this.group = res.data;
            })
            },
            updateGroup(){
                axios.post("http://localhost:8989/ems_vue/group/update",this.group).then((res)=>{
                    if(res.data.state;){
                        alert(res.data.msg+",点击确定回到主页!!!");
                        location.href='grouplist.html';
                    }else{
                        alert(res.data.msg);
                    }
                })
            }
        },
        created(){
            this.id =location.href.substring(location.href.indexOf("=")+1);
            this.findOneGroup(this.id);
        }
    })

</script>